<div >
	<form>
		<div class="form-group">
		  <label for="categoria">Categoria</label>
		  <input type="text" [(ngModel)]="categoria" class="form-control" id="categoria" name="categoria" placeholder="Es: natura..">
		  
		</div>
		
		<button type="submit" class="btn btn-primary" (click)="salva()">Cerca</button>
	
	  </form>
	  <br>
	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		<li *ngFor="let photo of elenco; let i = index" [attr.data-target]="'#carouselExampleCaptions'" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
		  
		</ol>
		<div class="alert alert-warning" role="alert" *ngIf="noImagesFound">
			Non è stata trovata nessuna immagine con questa categoria!
		  </div>
		<div class="carousel-inner">
		  <div class="carousel-item" *ngFor="let photo of elenco; let i = index" [class.active]="i === 0">
			<img src={{photo.src}} class="d-block w-100" alt="{{photo.nome}}" (click)="showModal(photo.src,photo.nome)" data-toggle="modal" data-target="#exampleModal">
			<div class="carousel-caption d-none d-md-block">
			  <h5>Nome : {{photo.nome}}</h5>
			  <p>Categoria: {{photo.categoria}}</p>
			  <p style="cursor: pointer;" class="favorite" (click)="toggleFavorite(photo)"> 
				<ng-container *ngIf="photo.isStarred; else notStarred" >
					<span class="text">Rimuovi dai preferiti</span>
				
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2 2 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386"/>
				  </svg>
			  </ng-container>
			  <ng-template #notStarred>
				<span class="text" >Aggiungi ai preferiti</span>
				
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063q.068.062.132.129.065-.067.132-.129c3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3 3 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398"/>
				  </svg>
			  </ng-template>
			  
			  </p>
			  
			</div>
		  </div>
		  
		</div>
		<button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</button>
	
	<br><br><br>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel" >{{imageName}}</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <img id="modal-image" class="img-fluid" src="" alt="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					
				  </div>
			  </div>
			</div>
		  </div>
	  </div>
	
</div>
