
<div class="container">
	<h2>Elenco preferiti</h2>
	<div *ngIf="receivedData && receivedData.length > 0; else noImages">
		<div class="row">
			<div class="col-md-4 mb-4" *ngFor="let photo of receivedData">
				<div class="card">
					<p style="cursor: pointer;" class="favorite" (click)="removeImage(photo.src)"> 
					<!-- 	<ng-container  >
							<span class="text">Rimuovi dai preferiti</span>
						
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
								<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
							  </svg>
					  </ng-container> </p> -->
					<!-- <button class="btn btn-danger btn-remove" (click)="removeImage(photo.src)">
						
					</button> -->
					<img [src]="photo.src" class="card-img-top" alt="{{ photo.nome }}" style="height: 200px; object-fit: cover;" (click)="showModal(photo.src,photo.nome)" data-toggle="modal" data-target="#exampleModal">
					<div class="card-body">
						<h5 class="card-title">{{ photo.nome }}</h5>
						<p class="card-text">Categoria: {{ photo.categoria }}</p>
					</div>
					<button (click)="removeImage(photo.src)">Rimuovi</button>
				</div>
			</div>
		</div>
	</div>
	<ng-template #noImages>
		<p>Nessuna immagine disponibile</p>
	</ng-template>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel" >{{imageName}}</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <img id="modal-image" class="img-fluid" src="" alt="">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				
			  </div>
		  </div>
		</div>
	  </div>
</div>
